@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'TiemposHeadline-Regular';
	src: url('../fonts/TiemposHeadline-Regular.otf') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Agency-Bold';
	src: url('../fonts/Agency-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Material-Design-Iconic-Font';
    src: url('../fonts/Material-Design-Iconic-Font.woff2?v=2.2.0') format('woff2'), url('../fonts/Material-Design-Iconic-Font.woff?v=2.2.0') format('woff'), url('../fonts/Material-Design-Iconic-Font.ttf?v=2.2.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
	color: #000;
	background: #ffffff;
	font-weight: normal;
	font-family: 'canada-type-gibson, sans-serif';
	font-style: normal;
	border: 0;
}
section {
    width: 100%;
    float: left;
}
.container-kiev {
    padding: 0 144px;
    width: 100%;
    float: left;
}
.logo img {
    width: 39px;
    float: left;
    margin-right: 20px;
}
.highlight_txt {
    font-family: 'Agency-Bold';
    font-size: 22px;
}
.aboutUs_headPart p.mar__bottom {
    margin-bottom: 20px;
}
/*========= Arrow Scroll Down CSS ===========*/
.banner-box {
    position: relative;
}
.banner-box a {
    text-decoration: none;
}
.arrow_img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.5s ease;
}
.arrow_img img {
    width: 45px;
    transition: all 0.5s ease;
}
/*========= Arrow Scroll Down CSS ===========*/
.message_box:not(.m-alert--outline) {
    color: #ffffff;
    background-color: #eb1510;
    border-color: #d80e0a;
    width: 16%;
    position: fixed;
    bottom: 0;
    z-index: 9;
    left: 10px;
    font-family: 'TiemposHeadline-Regular';
    font-size: 16px;
    letter-spacing: 1px;
}
.message_box, .success_box {
    font-family: 'Proxima Nova Rg';
}
.message_box i, .success_box i {
    float: left;
    margin-right: 10px;
}
.message_box {
    animation-name: message-alert;
    -webkit-animation-name: message-alert; /* Safari 4.0 - 8.0 */
    animation-duration: 1s;
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation: message-alert 1.5s;
}
.loader_img {
    position: absolute;
    top: -18px;
    width: 95%;
}
.loader_img img {
    width: 5%;
    margin: 0 auto;
    float: none;
    display: table;
}
.input_field a {
    background: #fff;
    color: #707070;
    padding: 9px 30px;
    margin-left: 5px;
    line-height: 30px;
    border-radius: 2px;
    font-size: 16px;
    position: relative;
}
.input_field img {
    width: 22%;
    position: absolute;
    left: 40%;
    top: 25%;
}
.alert-text h3 {
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
}
.alert-text ul li {
    font-family: 'Open Sans';
    font-size: 14px;
    margin-top: 3px;
}
@keyframes message-alert {
0% {
    left: -5%;
    background: #eb1510;
}
50% {
    left: 10%;
    background: #eb1510;
}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes message-alert {
0% {
    left: -5%;
    background: #eb1510;
}
50% {
    left: 10%;
    background: #eb1510;
}
}
#content {
    z-index: 40;
    position: relative;
    background: #fff;
}
.body_main {
    padding: 0 144px;
}
.padding0 {
    padding: 0 !important;
}
.header {
    background: transparent;
    color: #ffffff;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 10px 129px;
    height: 60px;
    line-height: 50px;
    transition: all 0.5s ease;
    border-bottom: 1px solid #9a9ea2;
}
.fixed-me {
    transition: all 1s;
}
.navbar-me {
    transition: all 1s;
}
.header-right-menu {
    padding: 5px 15px !important;
}
.site-logo {
    padding: 15px 20px !important;
    margin: 15px 10px !important;
}
.navbar-me {
    background-color: transparent;
    top: 0px;
}
.navbar-collapse {
    text-align: center;
    border-top-width: 0px;
    padding-top: 10px;
    margin-top: 5px;
}
.modal-header-success {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-warning {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-info {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-primary {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.menu-collapsed-button {
    margin: 20px 15px 10px 15px !important;
}
.menu_box {
    width: 100%;
    float: left;
}
.mid_line {
    width: 9%;
    margin: 0 auto;
    height: 3px;
    background: linear-gradient(90deg, #000000 50%, #e4e4e4 50%);
}
.heading-sub {
    font-size: 34px;
    line-height: 1.2;
    color: #000000;
    font-family: 'TiemposHeadline-Regular';
    margin-top: 0;
    margin-bottom: 0;
}
.service_content p {
    color: #707070;
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'canada-type-gibson, sans-serif';
    font-style: normal;
}
.menu_box a {
    float: left;
    color: #ffffff;
    padding-right: 35px;
    text-decoration: none;
    font-size: 18px;
    line-height: 39px;
    font-family: 'canada-type-gibson, sans-serif';
}
.banner-box .banner_img {
    height: 600px;
    object-fit: cover;
}
.right_p {
    padding-right: 8%;
    width: 50%;
}
.left_p {
    padding-left: 8%;
    width: 50%;
}
header:hover {
    opacity: 1;
}
.fixed-me {
    height: 60px;
    padding: 10px 129px;
    line-height: 50px;
    background: #ffffff;
    border-bottom: 0;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.0784313725490196);
}
.fixed-me a {
    color: #000000;
}
.fade {
    opacity: 1;
}
.progress-bar {
    width: 55px;
    height: 85px;
    position: fixed;
    background-color: white;
    border-radius: 40px;
    bottom: 33px;
    padding-top: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2784313725490196);
    right: 30px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.black_line {
    width: 20%;
    height: 3px;
    background: linear-gradient(90deg, #000000 50%, #e4e4e4 50%);
}
section .result-box {
    padding-bottom: 70px;
    background: #ffffff;
    padding-top: 0;
}
.result-box p {
    line-height: 28px;
    margin-bottom: 0;
    font-weight: normal;
    font-style: normal;
    color: #707070;
    font-size: 18px;
    margin-top: 20px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.white_line {
    width: 15%;
    height: 3px;
    background: #ffffff;
}
.progress-bar a:hover {
    color: #1fc1c1;
    text-decoration: none;
}
.btn-top {
    font-size: 20px;
    height: 57px;
    width: 60px;
    line-height: 60px;
    position: fixed;
    right: 27px;
    bottom: 24px;
    color: #1fc1c1;
    text-align: center;
    text-decoration: none;
}
.is-visible {
    visibility: visible;
    opacity: 1;
}
#navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
}
#navbar-right {
    float: right;
}
img {
    width: 100%;
}
.heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'TiemposHeadline-Regular';
    font-size: 37px;
    color: #000;
    line-height: 48px;
}
.space-box {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    float: left;
    background: #fff;
}
.text-center {
    text-align: center !important;
}
.services_box {
    width: 100%;
    float: left;
    display: flex;
    margin: 40px 0;
}
.service_img {
    width: 50%;
    float: right;
}
.services_box img {
    float: right;
    object-fit: cover;
}
.kie_button {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.6;
    background: #0F3043;
    color: #ffffff;
    font-weight: normal;
    font-family: 'canada-type-gibson, sans-serif';
    font-style: normal;
}
.button-box {
    margin-top: 40px;
    width: 100%;
    float: left;
    display: flex;
}
.kie_button:hover, .kie_button:focus {
    color: #ffffff;
    text-decoration: none;
}
.kievanor-bg {
    background: #0F3043;
    position: relative;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.features-content .tab-right img {
    height: 510px;
    object-fit: cover;
}
.stats_box {
    position: relative;
}
.stats_box img {
    float: left;
    width: 27%;
    position: absolute;
    bottom: -42px;
}
.mobile-nav {
    display: none;
}
.white_text {
    color: #ffffff !important;
}
.schedule_button {
    color: #000000;
    background: #ffffff;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.6;
}
.heading-kie {
    font-size: 28px;
    text-align: left;
    line-height: 1.2;
    border-left: 3px solid #000;
    padding-left: 20px;
    margin-bottom: 30px;
    font-family: 'TiemposHeadline-Regular';
    margin-top: 0;
}
.schedule_button:hover, .schedule_button:focus {
    color: #000000;
    text-decoration: none;
}
.icon_arrow {
    vertical-align: middle;
}
.middle-section p {
    padding: 0 13%;
    color: #707070;
    font-size: 20px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'canada-type-gibson, sans-serif';
    font-style: normal;
}
.margin-auto a {
    margin: 0 auto;
}
.footer {
    width: 100%;
    float: left;
    padding-bottom: 20px;
    padding-top: 40px;
}
.footer_list {
    list-style: none;
    float: left;
    padding: 0;
    margin-bottom: 0;
}
.footer_logo {
    width: 90%;
}
.footer_list li a, .footer_list li {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.footer_list li a:hover {
    text-decoration: none;
}
.footer p {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 0;
    border-top: 1px solid #444546;
    padding-top: 20px;
    text-align: center;
    font-family: 'canada-type-gibson, sans-serif';
}
.linked_inn {
    width: 30%;
}
a:focus {
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
    text-decoration: none;
}
.footer .bottom-footer p {
    text-align: center;
    margin-top: 20px;
}
.footer .bottom-footer p a {
    color: #ffffff;
    text-decoration: underline;
}
.footer .bottom-footer p a:hover {
    color: #ffffff;
    text-decoration: none;
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-top: 86px;
    padding-bottom: 86px;
    background: #000;
}
#footer.footer {
    z-index: 30 !important;
}
#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.margin-top-25 {
    margin-top: 25px !important;
}
.kie_banner {
    background: url('../images/header-image.jpg')no-repeat;
    height: 600px;
    position: relative;
    padding: 0 144px;
    background-position: right;
    background-size: cover;
}
.kievanor-bg .newsletter_box label {
    color: red;
    margin-top: 5px;
    font-weight: normal;
    margin-bottom: 0;
}
.kie_banner img {
    width: 26%;
    position: absolute;
    top: 20%;
}
.trident-box {
    position: absolute;
    top: 64%;
}
.trident-box p {
    border-left: 3px solid #fff;
    padding-left: 10px;
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'canada-type-gibson, sans-serif';
    font-style: normal;
}
.trident-stats {
    position: relative;
    float: left;
}
.trident-box h3 {
    margin-top: 0;
    color: #ffffff;
    font-size: 44px;
    font-family: 'TiemposHeadline-Regular';
    margin-bottom: 0;
}
.tri_statsBox img {
    width: 50%;
    float: right;
}
.text-black {
    color: #ffffff;
    font-family: 'TiemposHeadline-Regular';
    font-size: 16px;
}
.trident-stats p {
    border-left: 3px solid #000;
    padding-left: 10px;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    font-family: 'TiemposHeadline-Regular';
    font-size: 24px;
}
.blue-stripe {
    width: 100%;
    float: left;
    background: #0F3043;
    padding: 80px 0;
    position: absolute;
    top: 36%;
    height: auto;
}
.stats-box {
    position: relative;
}
.tri_statsBox {
    width: 100%;
    float: left;
    margin-top: 60px;
    position: relative;
    z-index: 99;
}
.tri_text {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    width: 25%;
}
.tri_text p {
    color: #ffffff;
    font-weight: normal;
    font-family: 'canada-type-gibson, sans-serif';
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
}
.tri_text p:last-child {
    margin-bottom: 0
}
.product-heading {
    font-family: 'TiemposHeadline-Regular';
    margin-top: 0;
    margin-bottom: 20px;
}
.triLogo-text {
    font-size: 23px;
    margin-right: 3px;
}
.paddingR-0 {
    padding-right: 0;
}
.padding0 {
    padding: 0;
}
.newsletter-text {
    color: #ffffff;
    font-weight: normal;
    font-family: 'canada-type-gibson, sans-serif';
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
}
.input_field {
    display: flex;
    margin-top: 20px;
    width: 75%;
}
.input_field a {
    background: #fff;
    color: #707070;
    padding: 9px 30px;
    margin-left: 5px;
    line-height: 30px;
    border-radius: 2px;
    font-size: 16px;
}
.input_field a:hover {
    text-decoration: none;
}
.newsletter_box {
    position: relative;
    z-index: 99;
}
.newsletter_box input {
    height: 48px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 2px;
    border: 0;
}
.newsletter-img {
    width: 100%;
    float: left;
}
.newsletter-img img {
    width: 6%;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}
.result-section {
    width: 100%;
    float: left;
    display: flex;
}
body .result-section p {
    padding: 0;
    width: 100%;
    border-right: 1px solid #e4e4e4;
    padding-right: 20px;
    padding-left: 0;
}
body .result-section p:last-child {
    border-right: 0;
    padding-right: 0;
}
.tabs .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.row {
    display: flex;
}
.row .col {
    flex: 1;
}
.center {
    text-align: center;
}
.panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
    text-decoration: none;
}
.tab-label {
    display: flex;
    padding: 15px 0;
    background: #ffffff;
    color: #0d3042;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 22px;
    font-weight: normal;
    font-family: 'TiemposHeadline-Regular';
}
.panel-group .panel {
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12156862745098039);
    position: relative;
}
.rotate-icon45 {
    transform: translate(-2px, 0) rotate(-45deg);
    font-weight: 600;
    margin-right: 10px;
}
.rotate-icon90 {
    transform: translate(-2px, 0) rotate(-90deg);
    font-weight: 600;
    margin-right: 10px;
}
.features-content {
    padding: 15px;
    color: #2c3e50;
    transition: all 0.35s;
    font-size: 18px;
    display: flex;
}
.features_list li .features_img .icon_features {
    background: transparent;
    color: #000;
    padding: 10px 0;
    margin-right: 10px;
}
.features_img {
    vertical-align: middle;
}
.grey-background {
    width: 100%;
    float: left;
    background: #f2f3f8 !important;
}
.grey-padding {
    padding: 70px 0;
}
.features-content .tab-left .features_list li {
    padding: 20px 0;
    border: 0;
    display: block;
    border-bottom: 2px solid #e4e4e4;
    margin-bottom: 0;
}
.tab-right {
    width: 100%;
}
.white-background {
    background: #ffffff;
}
.panel-group {
    margin-bottom: 10px;
}
.tab-label:hover {
    background: #ffffff;
}
.features_list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.features-content .tab-left .features_list li:first-child {
    padding-top: 0;
}
.features_list li {
    border: 1px solid #f5f2f2;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
}
.features_list li:last-child {
    margin-bottom: 0;
}
.features_list li .features_img i {
    background: #0e3042;
    border-radius: 80px;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    margin-right: 20px;
    font-size: 30px;
}
.email-below {
    font-family: 'TiemposHeadline-Regular';
    margin-top: 20px;
    float: left;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 30px;
}
.center-box {
    position: absolute;
    top: 44%;
    width: 100%;
    left: 0;
}
.kie_bannerNew {
    background: url('../images/header-image.jpg')no-repeat;
    height: 430px;
    position: relative;
    padding: 0 144px;
    background-position: bottom right;
    background-size: cover;
}
.date_update span {
    font-family: 'TiemposHeadline-Regular';
}
.date_update {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
.terms_text p {
    font-size: 18px;
    line-height: 1.5;
    color: #707070;
}
.heading-terms {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'TiemposHeadline-Regular';
}
.features_list li img {
    width: 75%;
}
.tab-left {
    padding-right: 4%;
    color: #707070;
    width: 100%;
}
.list_subText {
    color: #707070;
}
.terms_text p a:hover, .terms_text p:focus {
    text-decoration: none;
}
.terms_text .termsSub_points {
    padding-left: 30px;
}
.terms_text .termsSub_Points {
    padding-left: 60px;
}
.terms_text .Sub_Points_a {
    padding-left: 90px;
}
.tab-content {
    padding: 15px;
    color: #2c3e50;
    background: #ffffff;
    transition: all 0.35s;
    border: 1px solid #f5f2f2;
    font-size: 18px;
    line-height: 29px;
    display: flex
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}
.tab-close:hover {
    background: #ffffff;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery-item {
    width: 100%;
    height: 250px;
    float: left;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 0;
}
.gallery-item img {
    position: absolute;
    height: 230px;
    object-fit: cover;
    width: 92%;
    object-position: top;
}
.box {
    position: relative;
}
.view-btn a:hover {
    text-decoration: none;
}
.text-wrapper {
    position: absolute;
    width: 97%;
    height: 250px;
    display: block;
    color: #fff;
    opacity: 0;
}
.text_bottom {
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: 16px;
}
.text-wrapper:hover {
    background: #0f3043;
    opacity: 1;
    height: 250px;
    text-align: left;
    font-size: 16px;
}
.name {
    font-size: 28px;
    text-align: left;
    margin-left: 20px;
    margin-top: 18px;
    width: 100%;
    float: left;
    font-family: 'TiemposHeadline-Regular';
}
.view-btn {
    float: left;
    margin-top: 20px;
    padding: 10px 28px;
}
.signed_outDate {
    font-family: 'TiemposHeadline-Regular';
}
.view-btn a {
    color: #ffffff;
}
.signed_out {
    font-size: 16px;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 0;
    position: absolute;
    bottom: 10px;
}
/*=========== PRODUCT PAGE ==========*/
.Box_Visibility {
    display: none;
}
/*=========== LOGIN PAGE ==========*/
.kie_loginBanner {
    background: url('/images/LOGIN-BG.jpg')no-repeat;
    height: 780px;
    position: relative;
    padding: 0 144px;
    background-position: center;
    background-size: 100%;
}
.kie_loginBox {
    position: absolute;
    top: 150px;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    padding: 50px 70px;
    width: 26%;
}
.login_triLogo {
    text-align: center;
}
.kie_loginBox .login_triLogo img {
    width: 30%;
    margin-bottom: 20px;
}
.kie_loginBox .Log_heading {
    font-family: 'TiemposHeadline-Regular';
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
}
.Input_Fields .Field_name {
    display: block;
    font-weight: normal;
    font-family: 'canada-type-gibson, sans-serif';
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    margin-bottom: 10px;
}
.Input_Fields input {
    height: 42px;
    width: 100%;
    border: 1px solid #eeeeee;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: none;
}
.Input_Fields input:focus {
    outline: 0;
    border: 1px solid #d5d5d5;
    box-shadow: none;
}
.Input_Fields input::placeholder {
    color: #e0e0e0;
}
.Checkbox_field {
    margin-bottom: 10px;
}
.Checkbox_field input.largerCheckbox {
    width: 14px;
    height: 15px;
}
.Checkbox_field span {
    font-family: 'canada-type-gibson, sans-serif';
    font-size: 15px;
    color: #000000;
    line-height: 20px;
    margin-left: 6px;
}
.login_btn {
    text-align: right;
}
.login_btn a {
    padding: 10px 30px;
    font-size: 16px;
    line-height: 1.6;
    background: #0F3043;
    color: #ffffff;
    font-weight: normal;
    font-family: 'canada-type-gibson, sans-serif';
    font-style: normal;
    display: inline-block;
}
.login_btn a {
    float: right;
}
.login_btn a:hover, .login_btn a:focus {
    text-decoration: none;
    color: #ffffff;
}
/*=========== LOGIN PAGE ==========*/
/*=========== NEW INDEX PAGE CSS START ==========*/
.new_header {
    width: 100%;
    float: left;
    padding-bottom: 64px;
}
.header_kievanos {
    padding: 15px 129px;
    background: #fff;
    margin: 0 auto;
    float: none;
    display: table;
    width: 100%;
    background-color: #0f3043;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 16px;
}
.header_content {
    width: 100%;
    float: left;
}
.header_content .left_menu {
    width: 50%;
    float: left;
}
.header_content .right_menu {
    width: 50%;
    float: right;
}
.left_menu .menu_list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    float: left;
}
.left_menu .menu_list li {
    display: inline;
    padding-right: 13%;
}
.left_menu .menu_list li:last-child {
    padding-right: 0;
}
.left_menu .menu_list li a {
    font-family: 'Agency-Bold';
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}
.left_menu .menu_list li a img {
    width: 15%;
}
.right_menu .menu_list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    float: left;
    text-align: right;
}
.right_menu .menu_list li a {
    background-color: #ffffff;
    padding: 10px 30px;
    color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    border-radius: 2px;
    display: inline-block;
    font-family: 'Agency-Bold';
    text-decoration: none;
}
.right_menu .menu_list li a:hover , .right_menu .menu_list li a:focus {
    text-decoration: none;
}
.index_banner {
    background: url('../images/index_banner.jpg')no-repeat;
    height: 600px;
    position: relative;
    padding: 0 144px;
    background-position: left;
    background-size: cover;
}
.banner_content {
    width: 100%;
    float: left;
    display: table;
}
.banner_content .trident_con {
    width: 50%;
    float: left;   
}
.banner_content .trident_logoTxt {
    width: 50%;
    float: right;
    text-align: right;
}
.banner_content .banner_cell {
    display: table-cell;
    vertical-align: top;
    height: 600px;
    padding-top: 80px;
}
.trident_con p {
    font-family: 'Agency-Bold';
    color: #ffffff;
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 15px;
}
.banner_cell .trident_con {
    padding-top: 90px;
}
.trident_con p.padd_left {
    padding-left: 50px;
}
.Kievanos_btn {
    background-color: #ffffff;
    padding: 12px 25px;
    color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    line-height: 20px;
    border-radius: 2px;
    display: inline-block;
    font-family: 'Agency-Bold';
    text-decoration: none;
}
.Kievanos_btn:hover , .Kievanos_btn:focus {
    color: #000;
    text-decoration: none;
}
.trident_con .padd_btn {
    padding-left: 100px;
    margin-top: 30px;
}
.trident_logoTxt {
    position: relative;
}
.trident_logoTxt img {
    width: 70%;
}
.dotes_bg {
    background: url('../images/dotes_bg.jpg')no-repeat;
    height: 120px;
    padding: 30px 144px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 10px;
    position: relative;
    border-bottom: 2px solid #e8e8e8;
}
.dots_stripe {
    width: 100%;
    float: left;
}
.dots_stripe h1 {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin: 0;
}
.features_icons {
    width: 100%;
    float: left;   
}
.features_icons ul {
    display: flex;
    width: 100%;
    float: left;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}
.features_icons ul li {
    width: 33.3%;
    float: left;
    padding: 0 3%;
    text-align: center;
    position: relative;
}
.features_icons ul li .icons_bg {
    width: 100%;
    float: left;
}
.icons_bg img {
   width: 125px;
}
.features_icons ul li p {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0;
}
.icons_bg .icon_pos {
    position: absolute;
    top: 20px;
    left: 167px;
    width: 45px;
}
.icons_bg .border_line {
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    float: none;
    border-bottom: 2px solid #0f3043;
}
.index_NewSec {
    width: 100%;
    float: left;
    background-color: #ffffff;   
    height: 550px;
}
.dgnBox_grid {
    position: relative;
    width: 100%;
    float: left;
}
.index_NewSec .Indexgrey_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 100%;
    background-color: #f1f1f1;
    z-index: 1;
}
.index_NewSec img {
    height: 550px;
    padding-top: 70px;
    width: 50%;
    object-fit: cover;
    position: relative;
    z-index: 9;
}
.index_NewSec .content_Box {
    position: absolute;
    left: 42%;
    bottom: 0;
    z-index: 9;
    background-color: #f1f1f1;
    padding: 40px;
    padding-left: 100px;
}
.bordered_line {
    position: absolute;
    left: 0;
    top: 50px;
    width: 10%;
    border-bottom: 5px solid #0f3043;
}
.index_NewSec .content_Box h2 {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 45px;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 20px;
}
.index_NewSec .content_Box a {
    text-decoration: none;
    color: #000000;
}
.index_NewSec .content_Box p {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0;
}
.content_whiteBg .content_Box {
    background-color: #ffffff;
}
.content_whiteBg {
    height: 620px;
    padding-bottom: 70px;
}
.trident_study {
    width: 100%;
    float: left;
    background-color: #ffffff;
    position: relative;
}
.trident_study .study_tableImg {
   width: 66%; 
}
.product_dl {
    padding: 70px 0; 
}
.product_dl .study_img {
    background-color: #f1f1f1;
    width: 100%;
    float: left;  
}
.product_dl .study_img img {
    width: 100%;
    height: 600px;
    float: left;
    object-fit: cover;
    object-position: center;
}
.trident_study .padd_0 {
   padding: 0; 
}
.desk_rightTxt {
    width: 37%;
    position: absolute;
    top: 25%;
    right: 0;
    padding: 80px;
    float: right;
    text-align: left;
    background-color: #0f3043;
}
.product_dl .desk_rightTxt {
    top: 28%;
    width: 40%;
}
.product_dl .desk_rightTxt h2 {
    margin-bottom: 40px;
}
.desk_rightTxt h2 {
    font-family: 'Agency-Bold';
    color: #ffffff;
    font-size: 45px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 25px;
}
.desk_rightTxt p {
    font-family: 'Agency-Bold';
    color: #ffffff;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 35px;
}
.index_features {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ffffff;
    text-align: center;
}
.index_features h1 {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 45px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 15px;
}
.index_features .feat_line {
    border-bottom: 5px solid #0f3043;
    float: none;
    width: 8%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.index_features ul {
    padding-left: 0;
    padding-top: 30px;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    width: 100%;
    float: left;
}
.index_features ul li {
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 0 7%;
}
.demo_Box {
    background-color: #f1f1f1;
    padding: 50px 144px;
}
.demo_Box .demoBox_txt {
    text-align: center;
    width: 100%;
    float: left;
}
.demoBox_txt h1 {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 45px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 25px;
}
.contact_btn {
    background-color: #0f3043;
    padding: 12px 25px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    line-height: 20px;
    border-radius: 2px;
    display: inline-block;
    font-family: 'Agency-Bold';
    text-decoration: none;
}
.contact_btn:hover , .contact_btn:focus {
    text-decoration: none;
    color: #ffffff;
}
/*=========== NEW INDEX PAGE CSS END ==========*/
/*=========== NEW PRODUCT PAGE CSS END ==========*/
.product_banner {
    background: url('../images/products_banner.jpg')no-repeat;
    height: 600px;
    position: relative;
    padding: 0 144px;
    background-position: right;
    background-size: cover;
}
/*.product_banner .banner_content .trident_con {
    padding-top: 120px;
}*/
.pro_features {
    display: flex;
}
.features_icons.pro_features ul {
    width: 50%;
    float: left;
    display: grid;
}
.features_icons.pro_features ul li {
    padding: 0;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    text-align: left;
}
.features_icons.pro_features ul li:last-child {
   margin-bottom: 0; 
}
.features_icons.pro_features ul li .icons_bg {
    width: 18%;
    padding-right: 4%;
    position: relative;
}
.features_icons.pro_features .product_cont {
    width: 80%;
    float: left;
    padding-top: 5px;
}
.pro_features .product_cont h3 {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 35px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
.pro_features .icons_bg .icon_pos {
    position: absolute;
    top: 20px;
    left: 40px;
}
.pro_features .icons_bg .border_line {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 0;
}
.machines_content {
    width: 100%;
    float: left;
    background-color: #f1f1f1;
    padding-top: 70px;
    padding-bottom: 70px;
}
.machines_content .content__Box {
    position: relative;
    width: 100%;
    float: left;
}
.content__Box .left_imgBox {
    position: absolute;
    top: 70px;
    left: 0;
    width: 50%;
    float: left;
    height: 305px;
}
.machines_content .content__Box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.content__Box .dark__Box {
    width: 70%;
    float: right;
    background-color: #0f3043;
    padding: 70px 110px;
    padding-left: 25%;
}
.content__Box .dark__Box p {
    font-family: 'Agency-Bold';
    color: #ffffff;
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 40px;
}
.trident_DtlBox {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding-top: 70px;
    padding-bottom: 70px;
}
.trident_DtlBox h1 {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 45px;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 20px;
}
.trident_DtlBox .detl_grid {
    width: 100%;
    float: left;
}
.detl_grid .dtl_LeftG {
    width: 50%;
    float: left;
    text-align: left;
}
.trident_DtlBox .detl_grid h2 {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 37px;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 0;
}
.trident_DtlBox .detl_grid h3 {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 32px;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.detl_grid .dtl_LeftG img {
    width: 85%;
    margin-bottom: 30px;
}
.detl_grid .dtl_LeftG p {
font-family: 'Agency-Bold';
    color: #000000;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0;
    width: 100%;
    padding-right: 20%;
    text-align: left;
}
.detl_grid .dtl_rightG {
    width: 50%;
    float: right;   
    text-align: right;
}
.detl_grid .dtl_rightG p {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0;
    width: 100%;
    padding-left: 20%;
    text-align: right;
}
.detl_grid .dtl_rightG img {
    width: 93%;
    margin-top: 50px;
}
.graph_secBox {
    width: 100%;
    float: left;
    background-color: #f1f1f1;
    padding-top: 70px;
    padding-bottom: 70px;
    background: url('../images/dotes_bg2.jpg')no-repeat;
    box-shadow: rgb(0 0 0 / 3%) 0px 1px 10px;
    position: relative;
    background-size: cover;
}
.graph_secBox h1 {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 45px;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 40px;
}
.graph_secBox .graph_content {
    width: 100%;
    float: left;
    padding-left: 5%;
}
.graph_content p {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 30px;
}
.graph_content img {
    margin-bottom: 15px;
}
.graph_content a {
    font-family: 'Agency-Bold';
    color: #000000;
    font-size: 20px;
    line-height: 26.66px;
}
.beta_mBoxSec {
    width: 100%;
    float: left;
    background-color: #0f3043;
    padding-top: 70px;
    padding-bottom: 70px;
}
.beta_mBoxSec h1 {
    font-family: 'Agency-Bold';
    color: #ffffff;
    font-size: 45px;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
}
.beta_mBoxSec .first_para {
    font-family: 'Agency-Bold';
    color: #ffffff;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
    padding-left: 5%;
    text-align: left;
}
.beta_mBoxSec .sec_para {
    font-family: 'Agency-Bold';
    color: #ffffff;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0;
    text-align: right;
}
/*=========== NEW PRODUCT PAGE CSS END ==========*/
/*=========== NEW PRODUCT PAGE CSS END ==========*/
.abouUs_banner .center-box {
    position: absolute;
    top: 24%;
    width: 38%;
    left: 144px;
}
.abouUs_banner .mid_line {
    width: 24%;
}
.abouUs_banner .banner_para {
    margin-top: 30px;
    text-align: center;
}
.abouUs_banner .banner_para p {
    color: #ffffff;
    font-family: 'TiemposHeadline-Regular';
    font-size: 20px;
    line-height: 26.66px;
    margin-bottom: 20px;
}
.abouUs_banner .center-box {
    position: absolute;
    top: 24%;
    width: 45%;
    left: 50%;
    transform: translate(-50%);
}
/*=========== NEW PRODUCT PAGE CSS END ==========*/
 @-webkit-keyframes slideInLeft {
 0% {
    -webkit-transform: translate3d(345px, 0, 0);
    transform: translate3d(345px, 0, 0);
    visibility: visible;
}
100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
}
}
@keyframes slideInLeft {
    0% {
    -webkit-transform: translate3d(345px, 0, 0);
    transform: translate3d(345px, 0, 0);
    visibility: visible;
}
100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
}
}
.modal-backdrop.in {
    z-index: 99;
}
.modal {
    z-index: 9999;
    top: 6%;
}
.form-contact input {
    height: 42px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: none;
}
.contact_modalBox select {
    height: 42px;
    margin-bottom: 10px;
    color: #8f8c8c;
}
.contact_modalBox {
    width: 100%;
    float: left;
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}
.form-contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dfdfdf;
}
.contact_modalBox h3 {
    font-family: 'TiemposHeadline-Regular';
    float: left;
    margin-top: 0;
}
.submit-box {
    width: 100%;
    float: left;
    margin: 10px 0;
}
.terms_head {
    text-align: left;
    margin-bottom: 30px;
}
.terms_head h2 {
    font-size: 34px;
    line-height: 1.2;
    color: #000000;
    font-family: 'TiemposHeadline-Regular';
    margin-top: 0;
    margin-bottom: 10px;
}
.aboutUs_headPart {
    text-align: center;
}
.aboutUs_headPart h3 {
    font-family: 'TiemposHeadline-Regular';
    font-size: 26px;
    line-height: 34.66px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 15px;
}
.aboutUs_headPart p {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    font-style: normal;
    color: #707070;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
}
.border_lineSec {
    border-bottom: 1px dashed #d2d2d2;
    padding-top: 30px;
    margin-bottom: 30px;
}
.last__margin0 {
    margin-bottom: 0;
}
.aboutUs_headPart .black_line {
    margin: 0 auto;
    width: 10%;
}
.founderImg img {
    width: 53%;
    margin: 0 0;
}
.founderText p {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    font-style: normal;
    color: #707070;
    margin-bottom: 0;
}
.founderText .highlighted_text {
    font-size: 25px;
    font-family: 'TiemposHeadline-Regular';
}
.founderImg {
    width: 20%;
    float: left;
}
.founderText {
    width: 80%;
    float: left;
}
.founder_grid {
    width: 100%;
    float: left;
    margin-top: 30px;
}
.founderBox {
    width: 100%;
    float: left;
}
.founderText a {
    text-decoration: none;
}
.founderText a img {
    background: rgb(204, 204, 204);
    border-radius: 2px;
    width: 35px;
    margin: 0;
    padding: 5px;
    box-shadow: 0px 2px 6px #00000078;
    margin-top: 20px;
}
#success_message .alert-msg {
    color: #5ac72f;
    position: relative;
    top: 10px;
}
.color_black {
    color: #000000;
}
.faq_box h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 19px;
    line-height: 30.4px;
}
.FAQ_list {
    list-style: none;
    margin-bottom: 0;
}
.small-heading {
    font-size: 30px;
}
.FAQ_list li {
    display: list-item;
    margin-top: 5px;
    padding-bottom: 0;
    list-style: disc;
}
.faq_box {
    width: 100%;
    color: #707070;
}
.padding-left20 {
    padding-left: 20px !important;
}
.heading_popup {
    width: 80%;
    margin-top: 22px;
    line-height: 27px;
    font-size: 18px;
}
.window_popup label {
    font-weight: normal;
    width: 100%;
    float: left;
}
.window_popup input {
    width: 100%;
    height: 40px;
}
.margin-left-10 {
    margin-left: 10px;
}
.window_popup .modal-footer {
    border-top: 0;
    margin: 10px 0;
    border: 0;
}
.border_btn {
    background: #ffffff;
    border: 2px solid #0F3043;
    color: #0F3043;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.6;
    font-weight: normal;
    font-family: 'canada-type-gibson, sans-serif';
    font-style: normal;
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}
.border_btn:hover {
    text-decoration: none;
}
.window_popup .border_0 {
    border-top: 0;
}
.window_popup .modal-header {
    border-bottom: 0;
}
.window-msg {
    border: 1px solid #fd9ea1;
    position: absolute;
    top: -20px;
    width: 95%;
    padding: 5px;
    font-size: 13px;
    background: rgba(255, 34, 34, 0.3215686274509804);
    color: #ffffff;
}
.error_alert {
    color: red;
    font-family: 'canada-type-gibson, sans-serif';
    font-size: 13px;
}
