@font-face {
    font-family: "SegoeUI-Bold";
    src: url('../fonts/SegoeUI-Bold.ttf') format('TrueType');
}
@font-face {
    font-family: "SegoeUI-Regular";
    src: url('../fonts/SegoeUI-Regular.ttf') format('TrueType');
}
.index_latest_1::before {
    background: url(../media/header_bg.png)no-repeat;
    background-size: contain;
    background-position: 100% bottom;
    background-repeat: no-repeat;
}
.index_latest_3::before {
    background: url(../media/testimonal_bg.png)no-repeat;
    background-size: contain;
    background-position: 100% bottom;
    background-repeat: no-repeat;
}
.index_latest_10::before {
    background: url(../media/testimonal_bg.png)no-repeat; 
    background-size: contain;
    background-position: 100% bottom;
    background-repeat: no-repeat;
}
.indexLatest_sec.index_latest_11::before {
    background: url(../media/testimonal_bg.png)no-repeat;
    background-size: contain;
    background-position: 100% bottom;
    background-repeat: no-repeat;
}
.index_latest_12::before {
    background: url(../media/testimonal_bg.png)no-repeat;
    background-size: contain;
    background-position: 100% bottom;
    background-repeat: no-repeat;
}
.footer_curves::before {
    background: url(../media/testimonal_bg.png)no-repeat;
    background-size: contain;
    background-position: 100% bottom;
    background-repeat: no-repeat;
}
.slider_range {
    background: url(../media/indigator.svg)no-repeat;
    background-size: 200px;
    background-position: center;
}